.MiFaZLocInput{width: 90px; margin: 0.5em;display:block;float:left;}
.MiFaZhide{display: none;}
.MiFaZListElementMarked {background-color: red;}
.MiFaZListBox ul {border: 1px solid black; margin:0.1em; padding: 0.7em; background: #ffffff;}
.MiFaZListBox li {list-style-type: none; margin: 0; padding: 0.2 em;} 
.MiFaZListBox { clear: both; background-color: transparent; padding: 0.5em}
.MiFaZinputlabel {display:block;float:left;width:70px;clear:left;}
.MiFaZsend {clear:both;display:block;margin-top:15px;}
#MiFaZ-WordpressWidget {width:90%; padding: 5px;}

#MiFaZInfo {margin: 5px; padding: 5px; text-align: center; font-weight: bold; display: none; border: 1px solid black}
#MiFaZResults ul {margin-top: 15px;}

.MiFaZinputlabel {margin-top: 8px;}
.MiFaZLocName {margin: 8px 0 0 5px; display:block; float:left; width:70px;}